.head__button__a{
    border: 2px solid var(--Blue);
    padding: 1rem 3rem; 
    background-color: #FFFFFF;
    border-color: var(--Blue);
    text-decoration: none;
    color: var(--Blue);
}

@media screen and (min-width: 375px) and (max-width:412px){
    .head__button__a{
        position: relative;
        right: 92px;
    }
}