.footer__list__container{
    line-height: 2rem;
}
.footer__list__text:hover{
    cursor: pointer;
    color: var(--Blue);
}
@media screen and (min-width:375px) and (max-width:412px){
    .footer__list__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    .footer__list__text{
        line-height: 2rem;
    }
}
