.products{
    margin: 3rem 0;
    display: flex;
    align-items: flex-start;
    gap: 3rem 1rem;
    flex-wrap: wrap;
}
.fa-solid.fa-trash{
    position: relative;
    display: block;
    width: 20px;
    height: 30px;
    top: -191px;
    left: 164px;
}
.editIcon{
    position: relative;
    bottom: 2px;
    right: 176px;
}



@media screen and (min-width:375px) and (max-width:412px) {
    .products{
        flex-wrap: wrap;
    }
}