.products{
    margin: 3rem 0;
    display: flex;
    align-items: flex-start;
    gap: 3rem 1rem;
    flex-wrap: wrap;
}
.fa-solid.fa-trash{
    position: relative;
    background-color: #1765ee;
    display: block;
    width: 20px;
    height: 30px;
    top: -185px;
    left: 165px;
}

@media screen and (min-width:375px) and (max-width:412px) {
    .products{
        flex-wrap: wrap;
    }
}