.products{
    margin-top: 1rem;
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    flex-wrap: wrap;
}
@media screen and (min-width:375px) and (max-width:412px) {
    .products{
        flex-wrap: wrap;
    }
}