.category__product__img{
    position: relative;
    width:175px; 
    height:173px;
}

@media screen and (min-width:375px) and (max-width:412px) {
    .category__product__img{
        width:156px; 
}
}
